/* Streamlit */
[data-testid="stHeader"], [data-testid="StyledLinkIconContainer"] {
    display: none;
}
[data-testid="stAppViewContainer"] {
    background:white;
}

[data-testid="stAppViewBlockContainer"] {
    padding: 0 !important;
}

/* [data-testid="stSidebar"][aria-expanded="true"] {
    background-color: #598ae6;
} */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f5fd;
    color: #333;
    margin:5px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    background-color: #275dc0;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    height: 80%;
    width: 100%;
}

#logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logo-image {
    width: 90px;
    height: 90px;
    margin: -10px;
}


.title-box {
    color: black;
    font-size: 25px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contenedor {
    display: flex;
    align-items: center;
    margin: 5%;
}

/* Estilos para el área de texto */
.texto {
    flex: 1;
    padding: 20px; 
}

/* Estilos para el área de la imagen */
.imagen {
    max-width: 100%; 
    height: auto; 
}

#logo {
    max-width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#app-name {
    margin-top: 10px;
    font-size: 36px; 
    font-family: 'Verdana', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

main {
    padding: 40px;
    text-align: center;
    background: linear-gradient(0deg, rgba(188,48,235,0.26) 0%, rgba(29,3,37,1) 100%);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    text-size-adjust: 10;
}
p {
    font-size: 18px;
    margin-left: 15px;
    line-height: 1.6;
    color: #333;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature {
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 10px;
}

footer {
    background-color: #275dc0;
    color: #fff; 
    padding: 10px;
    margin-top: 15%;
    bottom: 0;
    text-align: center;
    width: 100%;
}